<div class="  nav-left col-md-2 no-padding" id="nav-list-left">
    <div class="user-panel">
        <img src="~/Content/img/user/user.jpg" class="img-circle center-block" />
    </div>

    <div class="nav-list">
        <ul>
            <li>
                <a href="#">首页</a>

            </li>


            <li class="nav-left-dropdown">
                <a href="#">我是下拉</a>
                <ul class="nav-left-dropdown-menu">
                    <li><a href="#">哈哈哈哈哈哈哈</a></li>
                    <li><a href="#">哈哈</a></li>
                    <li><a href="#">哈哈</a></li>
                    <li><a href="#">哈哈</a></li>
                    <li><a href="#">哈哈</a></li>
                </ul>
            </li>
            <li class="nav-left-dropdown">
                <a href="#">我也是下拉</a>
                <ul class="nav-left-dropdown-menu">
                    <li><a href="#">哈哈</a></li>
                    <li><a href="#">哈哈</a></li>
                    <li><a href="#">哈哈</a></li>
                    <li><a href="#">哈哈</a></li>
                    <li><a href="#">哈哈</a></li>
                </ul>
            </li>
            <li>
                <a href="#">控制台</a>
            </li>
            <li>
                <a href="#">控制台</a>
            </li>
        </ul>
    </div>
</div>